### Here's how my database is set up:
I've got a table of genes, a table of enzymes, and a table of pathways. Depending on how much time I get later, I might also make some associative tables linking them.

### Gene Table
CREATE TABLE genes (id INT PRIMARY KEY ASC, name TEXT, description TEXT, organism TEXT,
chromosome TEXT, start INT, end INT, strand VARCHAR(1), sequence TEXT, translated TEXT)

**Start with name, description, organism, and nucleotide sequence. Additional fields might include chromosome, start and end position, strand, and translated sequence. For eukaryotes, the nucleotide sequence should be the spliced mRNA and the coordinates should span the entire locus.**

### Enzyme Table
CREATE TABLE enzymes (id INT PRIMARY KEY ASC, name TEXT, function TEXT, 
EC INT, pathway TEXT)
**EC = Enzyme Commission number
**name, function, and enzyme commission (EC) number. Multiple genes encode enzymes that perform the same function, so there ought to be fewer enzymes than genes.**

### Pathway Table
CREATE TABLE pathways (id INT PRIMARY KEY ASC, name TEXT, description TEXT)

In [10]:
#This segment sets up an empty database and readies it to receive input
import sqlite3
from Bio import Entrez
Entrez.email = 'hverdonk@berkeley.edu'
conn = sqlite3.connect('metabolism.db')
c = conn.cursor()

In [11]:
#Creates emtpy Gene Table
c.execute("""CREATE TABLE genes (id INT PRIMARY KEY ASC, 
                                name TEXT, 
                                description TEXT, 
                                organism TEXT, 
                                chromosome TEXT, 
                                start INT, 
                                end INT, 
                                strand VARCHAR(1), 
                                sequence TEXT, 
                                translated TEXT)""")
conn.commit()

In [12]:
#Creates empty Enzyme Table
c.execute("""CREATE TABLE enzymes (id INT PRIMARY KEY ASC, 
                                    name TEXT, 
                                    function TEXT, 
                                    EC INT, 
                                    pathway TEXT)""")
conn.commit()

In [13]:
#Creates empty Pathway Table
c.execute("""CREATE TABLE pathways (name TEXT, 
                                    description TEXT)""")
conn.commit()

In [22]:
#Fill the Pathway Table
c.executescript("""INSERT INTO pathways
                        VALUES ('glycolysis', 
                                'converts glucose into pyruvate to generate ATP and NADH');
                    INSERT INTO pathways
                        VALUES ('citric acid cycle', 
                                'the complete oxidation of glucose derivatives to carbon dioxide to produce ATP');
                    INSERT INTO pathways
                        VALUES ('pentose phosphate pathway', 
                                'converts glucose into pentose to generate NADPH and ribose 5-phosphate');""")
conn.commit()

In [23]:
c.execute("""SELECT * FROM pathways""")
print(c.fetchone())

('glycolysis', 'converts glucose into pyruvate to generate ATP and NADH')